<p-scrollPanel
  [style]="{ width: '100%', height: '100%', backgroudColor: 'whitesmoke' }"
>
  <div class="container-fluid" *ngIf="!possuiDados()">
    <img
      class="img-fluid rounded-4 me-0 ms-3"
      src="../../../assets/img/find-stock.png"
      alt="imagem de fundo de busca de ações"
    />
  </div>
  <div class="container-pesquise-ticker-informacoes" *ngIf="possuiDados()">
    <div class="container-topo">
      <div class="container-preco-ativo">
        <h2>
          Ativo: <strong>{{ ticker | uppercase }}</strong>
        </h2>
        <div class="container-preco">
          <h3>Preço:</h3>

          <p class="preco-ativo">
            {{
              respostaInformacoes?.lastPrice
                | currency : respostaInformacoes?.currency
            }}
          </p>
          <br />
        </div>
        <div class="container-variacao">
          <div>
            <p
              class="variacao-ativo"
              [ngClass]="{
                'variacao-positiva': classeVariacao(
                  respostaInformacoes?.yearChange
                ),
                'variacao-negativa': !classeVariacao(
                  respostaInformacoes?.yearChange
                )
              }"
            >
              Δ12m {{ respostaInformacoes?.yearChange | percent : "1.2-2" }}
            </p>
            <p
              class="variacao-ativo"
              [ngClass]="{
                'variacao-positiva': classeVariacao(
                  respostaInformacoes?.lastPrice! -
                    respostaInformacoes?.previousClose!
                ),
                'variacao-negativa': !classeVariacao(
                  respostaInformacoes?.lastPrice! -
                    respostaInformacoes?.previousClose!
                )
              }"
            >
              Δ1d {{ variacaoDia() }}
            </p>
          </div>

          <div>
            <p class="dividend-yield">
              Δ12m Div Yield
              {{
                calculaDividendYield12M(respostaDividendos!) | percent : "1.2-2"
              }}
            </p>
            <p class="dividend-yield">
              Δ1m Div Yield
              {{
                calculaDividendYield1M(respostaDividendos!) | percent : "1.2-2"
              }}
            </p>
          </div>
        </div>
      </div>

      <p-tabView class="tab-informacoes">
        <p-tabPanel header="Mercado" class="tab-informacoes-mercado">
          <div class="container-mercado">
            <div class="item-mercado">
              <h4>Bovespa</h4>
              <p class="preco-ativo">
                {{ bovespaHoje | number }}
              </p>
              <p
                class="variacao-ativo"
                [ngClass]="{
                  'variacao-positiva': classeVariacao(
                    bovespaHoje! - bovespaAnterior!
                  ),
                  'variacao-negativa': !classeVariacao(
                    bovespaHoje! - bovespaAnterior!
                  )
                }"
              >
                {{ variacaoDiaBovespa() }}
              </p>
            </div>

            <div class="item-mercado">
              <h4>Previous Close</h4>
              <p class="preco-ativo">
                {{
                  respostaInformacoes?.previousClose
                    | currency : respostaInformacoes?.currency
                }}
              </p>
            </div>

            <div class="item-mercado">
              <h4>50 day Average</h4>
              <p class="preco-ativo">
                {{
                  respostaInformacoes?.fiftyDayAverage
                    | currency : respostaInformacoes?.currency
                }}
              </p>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>

    <div class="container-meio">
      <div class="container-candle-stick">
        <plotly-plot
          class="candle-stick"
          [data]="respostaCandle?.data"
          [layout]="respostaCandle?.layout"
        ></plotly-plot>
      </div>

      <div class="container-informacoes">
        <h3>Detalhes</h3>
        <br />
        <ul>
          <li>
            <div class="info-texto">Intervalo do dia</div>
            <div class="info-dados">
              {{ respostaInformacoes?.dayLow | number }} -
              {{ respostaInformacoes?.dayHigh | number }}
            </div>
          </li>
          <li>
            <div class="info-texto">Volume</div>
            <div class="info-dados">
              {{ respostaInformacoes?.lastVolume | number }}
            </div>
          </li>
          <li>
            <div class="info-texto">Volume médio</div>
            <div class="info-dados">
              {{ respostaInformacoes?.tenDayAverageVolume | number }}
            </div>
          </li>

          <p-table
            class="tabela-dividendos"
            [value]="respostaDividendos?.data!.reverse()"
            [scrollable]="true"
            scrollHeight="300px"
          >
            <ng-template #name pTemplate="header">
              <tr>
                <th>Data</th>
                <th>Div por ação</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-data>
              <tr>
                <td>{{ data.Date | date }}</td>
                <td>{{ data.Dividends | number : "1.2-2" }}</td>
              </tr>
            </ng-template>
          </p-table>
        </ul>
      </div>
    </div>
  </div>
</p-scrollPanel>
