<p-scrollPanel
  [style]="{ width: '100%', height: '100%', backgroudColor: 'whitesmoke' }"
>
  <div *ngIf="!possuiDados()">
    <!-- <p-messages [(value)]="msgInfoSemTicker" severity="warn" text="Informe um ativo para ser buscado..."> </p-messages>   -->
  </div>
  <div *ngIf="possuiDados()">
    <div class="container-topo">
      <p class="nome-empresa">{{ respostaInformacoes.longName }}</p>
      <div class="preco-ativo">
        {{
          respostaInformacoes.currentPrice
            | currency : respostaInformacoes.currency
        }}
      </div>
      <p
        class="variacao-ativo"
        [ngClass]="{
          'variacao-positiva': classeVariacao(),
          'variacao-negativa': !classeVariacao()
        }"
      >
        {{ variacaoDia() }}
      </p>
    </div>

    <div class="container-meio">
      <div class="container-candle-stick">
        <plotly-plot
          class="candle-stick"
          [data]="respostaCotacaoAtivo?.data"
          [layout]="respostaCotacaoAtivo?.layout"
        ></plotly-plot>
      </div>

      <div class="container-informacoes">
        <h3>Detalhes</h3>
        <br />
        <ul>
          <li>
            <div class="info-texto">Intervalo do dia</div>
            <div class="info-dados">
              {{ respostaInformacoes.dayLow | number }} -
              {{ respostaInformacoes.dayHigh | number }}
            </div>
          </li>
          <li>
            <div class="info-texto">Intervalo 52 week</div>
            <div class="info-dados">
              {{ respostaInformacoes.fiftyTwoWeekLow | number }} -
              {{ respostaInformacoes.fiftyTwoWeekHigh | number }}
            </div>
          </li>
          <li>
            <div class="info-texto">Volume</div>
            <div class="info-dados">
              {{ respostaInformacoes.volume | number }}
            </div>
          </li>
          <li>
            <div class="info-texto">Volume médio</div>
            <div class="info-dados">
              {{ respostaInformacoes.averageVolume | number }}
            </div>
          </li>
          <li>
            <div class="info-texto">Beta</div>
            <div class="info-dados">
              {{ respostaInformacoes.beta | number : "1.2-2" }}
            </div>
          </li>
          <li>
            <div class="info-texto">P/L</div>
            <div class="info-dados">
              {{ respostaInformacoes.trailingPE | number : "1.2-2" }}
            </div>
          </li>
          <li>
            <div class="info-texto">Dividend Yield Anual</div>
            <div class="info-dados">
              {{
                respostaInformacoes.trailingAnnualDividendYield
                  | percent : "1.2-2"
              }}
            </div>
          </li>
          <li>
            <div class="info-texto">Receita por ação</div>
            <div class="info-dados">
              {{ respostaInformacoes.revenuePerShare | number : "1.2-2" }}
            </div>
          </li>
          <li>
            <div class="info-texto">Ex-Dividend Date</div>
            <div class="info-dados">
              {{
                (respostaInformacoes.exDividendDate
                  ? respostaInformacoes.exDividendDate * 1000
                  : ""
                ) | date : "dd/MM/yyyy"
              }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p-fieldset legend="Sobre a empresa" class="resumo-empresa">
      {{ respostaInformacoes.longBusinessSummary }}
    </p-fieldset>
  </div>
  {{ dados() }}
</p-scrollPanel>
