.container-candle-stick {
    padding: 16px 16px 16px 32px;
    background: black;
    border-radius: 16px;
    margin: 16px;

}

.candle-stick {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    justify-content: center; */
    padding: 8px;

}

.container-secoes {
    display: flex;

}

p-fieldset {
    margin: 16px;
}

.lista-secao {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.lista-secao li {
    align-self: center;
    margin: 8px;
    padding: 16px;
    background-color: whitesmoke;
    border-radius: 16px;
    box-shadow: 8px 8px darkgreen;
    font-weight: bold;
}

.lista-secao br {
    margin: 4px
}

.plot-container {
    display: flex;
    justify-content: center;
}

.main-svg {

    border-radius: 16px;
}