<p-scrollPanel [style]="{ width: '100%', height: '100%' }">


    <div *ngIf=!possuiDados()>
        <!-- <p-messages [(value)]="msgInfoSemTicker" severity="warn" text="Informe um ativo para ser buscado..."> </p-messages>   -->

    </div>
    <div *ngIf=possuiDados()>
        <div class='container-secoes'>
            <p-fieldset legend="Informações gerais">
                <ul class="lista-secao">
                    <li>
                        Nome: <br>
                        {{respostaInformacoes.longName}}
                    </li>
                    <li>
                        Setor: <br>
                        {{respostaInformacoes.sector}}
                    </li>
                    <li>
                        Beta: <br>
                        {{respostaInformacoes.beta | number: '1.2-2'}}
                    </li>
                    <li>
                        Risco: <br>
                        {{respostaInformacoes.overallRisk}}
                    </li>
                    <li>
                        Recomendação do mercado<br>
                        {{respostaInformacoes.recommendationKey}}
                    </li>

                    <li>
                        Site: <br>
                        <a href="{{respostaInformacoes.website}}">
                            {{respostaInformacoes.website}}
                        </a>
                    </li>

                </ul>
            </p-fieldset>
            <p-fieldset legend="Dividendos ">
                <ul class="lista-secao">
                    <li>
                        Dividend Yield: <br>
                        {{respostaInformacoes.dividendYield | number: '1.2-2'}}
                    </li>
                    <li>
                        Média de 5 anos Dividend Yield: <br>
                        {{respostaInformacoes.fiveYearAvgDividendYield | number: '1.2-2'}}
                    </li>
                    <li>
                        P/L: <br>
                        {{respostaInformacoes.trailingPE | number: '1.2-2'}}
                    </li>
                    <li>
                        Previsão P/L: <br>
                        {{respostaInformacoes.forwardPE | number: '1.2-2'}}
                    </li>

                    <li>
                        Dividend Rate: <br>
                        {{respostaInformacoes.dividendRate | number: '1.2-2'}}
                    </li>
                    <li>
                        Payout Ratio: <br>
                        {{respostaInformacoes.payoutRatio | number: '1.2-2'}}
                    </li>
                    <li>
                        LPA: <br>
                        {{respostaInformacoes.revenuePerShare | number: '1.2-2'}}
                    </li>
                    <li>
                        Próximo pgto de div: <br>
                        {{respostaInformacoes.exDividendDate | date:"MM/dd/yy"}}
                    </li>

                </ul>
            </p-fieldset>
        </div>

        <div class="container-candle-stick">
            <plotly-plot class="candle-stick" [data]="respostaCotacaoAtivo?.data"
                [layout]="respostaCotacaoAtivo?.layout"></plotly-plot>
        </div>
        <div class="container-secoes">
            <p-fieldset legend="Valor de mercado">
                <ul class="lista-secao">
                    <li>
                        Preço de mercado: <br>
                         {{respostaInformacoes.currentPrice | currency:'BRL' }}
                    </li>
                    <li>
                        52 Week Low <br>
                         {{respostaInformacoes.fiftyTwoWeekLow | currency:'BRL'}}
                    </li>
                    <li>
                        52 Week High<br>
                         {{respostaInformacoes.fiftyTwoWeekHigh | currency:'BRL'}}
                    </li>
                    <li>
                        Média em 50 dias<br>
                         {{respostaInformacoes.fiftyDayAverage | currency:'BRL'}}
                    </li>
                    <li>
                        Preço alvo de compra<br>
                         {{respostaInformacoes.targetLowPrice | currency:'BRL'}}
                    </li>
                    <li>
                        Preço alvo de venda<br>
                         {{respostaInformacoes.targetMedianPrice | currency:'BRL'}}
                    </li>
                    <li>
                        Volume<br>
                        {{respostaInformacoes.volume | number }}
                    </li>
                    <li>
                        Volume médio<br>
                        {{respostaInformacoes.averageVolume | number }}
                    </li>

                </ul>
            </p-fieldset>
            <p-fieldset legend="Contabilidade">
                <ul class="lista-secao">
                    <li>
                        Preço contábil: <br>
                         {{respostaInformacoes.bookValue | currency:'BRL'}}
                    </li>
                    <li>
                        Valor da empresa: <br>
                         {{respostaInformacoes.enterpriseValue | currency:'BRL'}}
                    </li>
                    <li>
                        Total da dívida: <br>
                         {{respostaInformacoes.totalDebt | currency:'BRL'}}
                    </li>
                    <li>
                        ROA: <br>
                        {{respostaInformacoes.returnOnAssets | percent: '1.2-2'}}
                    </li>
                    <li>
                        Fluxo de caixa operacional: <br>
                         {{respostaInformacoes.fiftyDayAverage | currency:'BRL'}}
                    </li>
                    <li>
                        Receita bruta: <br>
                         {{respostaInformacoes.totalRevenue | currency:'BRL'}}
                    </li>
                    <li>
                        Margem bruta<br>
                        {{respostaInformacoes.grossMargins | percent: '1.2-2'}}
                    </li>
                    <li>
                        Margem líquida<br>
                        {{respostaInformacoes.profitMargins | percent: '1.2-2'}}
                    </li>
                    <li>
                        Resultado bruto: <br>
                         {{respostaInformacoes.grossProfits | currency:'BRL'}}
                    </li>
                    <li>
                        ROE<br>
                        {{respostaInformacoes.returnOnEquity | percent: '1.2-2'}}
                    </li>

                </ul>
            </p-fieldset>

        </div>




    </div>
    {{dados()}}

</p-scrollPanel>