
.container-candle-stick{
    display: flex ;
    margin: 16px;
    box-shadow: inset;
    
    
    
}

.candle-stick {
    min-width: 100%;
    
}

.lista-sobre-mim {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.lista-sobre-mim li {
    align-self: center;
    margin: 8px;
    padding: 16px;
    background-color: whitesmoke;
    border-radius: 16px;
}

.lista-sobre-mim br {
    margin: 4px
}

.main-svg{
    
    border-radius: 16px;
}
