
.box-home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 8px  5fr 8px;
    grid-template-rows: 8px 5fr 8px;
    background-color: darkgray;
    
}

.dashboard{
/* background-color: aqua; */
    background-color: whitesmoke;
    grid-area: 2/2 / -2/3;
    margin: 8px;
    border-radius: 16px ;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr 0.2fr; 
    box-shadow: inset;

}
.cabecalho {
    grid-area:  1/2 / 2/3;
      
}

.main {
    background-color:white;
    grid-area: 2 / 2 / 3 / 3;
    margin: 16px;
    border-radius: 16px;
    box-shadow: inset ;
}

.rodape {
    grid-area: 3/2/ -1/-1
}

.menu {
    background-color:white;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    grid-area: 1 / 1  / -1 / 2 ;
}