<div class="container-form-compra">
  <h2 class="form-titulo">Formulário de COMPRAS</h2>
  <form class="form-compra" [formGroup]="form">
    <div class="form-campo">
      <label class="label-input" for="data">Data:</label>
      <p-calendar
        name="data"
        dateFormat="dd/mm/yy"
        placeholder="dd/mm/yyyy"
        formControlName="data"
        (onFocus)="$event.target.select()"
      ></p-calendar>
    </div>
    <div class="form-campo">
      <label class="label-input" for="ticker">Ticker:</label>
      <input
        pInputText
        name="ticker"
        type="text"
        formControlName="ticker"
        placeholder="ex: MXFR11"
        [maxlength]="6"
      />
    </div>

    <div class="form-campo">
      <label class="label-input" for="precoPago">Preço pago:</label>
      <p-inputNumber
        name="precoPago"
        mode="decimal"
        formControlName="precoPago"
        [(ngModel)]="precoPago"
        (onFocus)="$event.target.select()"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
      >
      </p-inputNumber>
    </div>

    <div class="form-campo">
      <label class="label-input" for="quantidade">Quantidade:</label>
      <p-inputNumber
        name="quantidade"
        locale="pt-BR"
        formControlName="quantidade"
        [(ngModel)]="quantidade"
        (onFocus)="$event.target.select()"
        [maxlength]="5"
      >
      </p-inputNumber>
    </div>

    <div class="form-campo">
      <label class="label-input" for="totalCompra">Total da compra: </label>
      <p-inputNumber
        name="totalCompra"
        mode="currency"
        currency="BRL"
        formControlName="totalCompra"
        [disabled]="true"
      >
      </p-inputNumber>
    </div>

    <div class="container-botao">
      <button
        class="form-botao"
        label="Registrar compra"
        type="submit"
        [disabled]="!form.valid"
        pButton
      ></button>
    </div>
  </form>
</div>
