/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--font-family);
}

/* Estilos globais do app */

.box-home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 8px 5fr 8px;
  grid-template-rows: 8px 5fr 8px;
}

.dashboard {
  /* background-color: aqua; */
  background-color: whitesmoke;
  grid-area: 2/2 / -2/3;
  margin: 8px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.5fr 4fr 0.2fr;
  box-shadow: inset;
}
.cabecalho {
  grid-area: 1/2 / 2/3;
}

.main {
  background-color: white;
  grid-area: 2 / 2 / 3 / 3;
  margin: 16px;
  border-radius: 16px;
  box-shadow: inset;
}

.rodape {
  grid-area: 3/2/ -1/-1;
}

.menu {
  /* background-color: white;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; */
  max-width: 20vw;

  grid-area: 1 / 1 / -1 / 2;
}
